{% extends "layout.html" %}
{% block content %}
    <!-- Slider -->
    <section id="slider" class="clear">
      <figure><img src="{{ url_for('static', filename='img/slide1.jpg') }}" alt="">
        <figcaption>
          <h2>Quienes Somos?</h2>
          <p>El Centro de Escritura de la Universidad de Tarapaca ayuda a desarrollar y fortalecer sus habilidades de escritura para enfrentar exitosamente los retos academicos y profesionales.</p>
          <footer class="more"><a href="#">Leer mas &raquo;</a></footer>
        </figcaption>
      </figure>
    </section>
    <!-- main content -->
    <div id="homepage">
      <!-- services area -->
      <section id="services" class="clear">
        <!-- article 1 -->
        <article class="one_third">
          <h2>Horario de Atencion</h2>
          <!-- <img src="images/demo/80x80.gif" alt=""> -->
          <p class="lead">Lunes a Viernes <br>08:30 - 13:00 <br>14:30 - 18:30</p>
          <!-- <footer class="more"><a href="#">Read More &raquo;</a></footer> -->
        </article>
        <!-- article 2 -->
        <article class="one_third">
          <h2>&iquest;Necesitas un tutor?</h2>
          <!-- <img src="images/demo/80x80.gif" alt=""> -->
          <p> Planifica un hora con nosotros escribiendo a<br><strong>centrodeescritura@uta.cl</strong><br> Las sesiones tienen una duracion de <strong>30</strong> - <strong>35</strong> minutos.</p>
          <!-- <footer class="more"><a href="#">Read More &raquo;</a></footer> -->
        </article>
        <!-- article 3 -->
        <article class="one_third lastbox">
          <h2>Otros Recursos</h2>
          <!-- <img src="images/demo/80x80.gif" alt=""> -->
          <p>Guias, y otros documentos y recursos pueden ser encontrados en esta pagina. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit, nibh vel.  </p>
          <!-- <footer class="more"><a href="#">Read More &raquo;</a></footer> -->
        </article>
      </section>
{% endblock %}