<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>{{title}} | Centro de Escritura - Universidad de Tarapaca</title>
<meta charset="iso-8859-1">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <hgroup>

      <h1><a href="#"><img src="{{ url_for('static', filename='img/uta-logo.png') }}" alt="">Centro de Escritura<br><h2>Universidad de Tarapaca</h2></a></h1>
      
    </hgroup>
    <nav>
      <ul>
        <li class="active"><a href="{{ url_for('home') }}"> Inicio </a></li>
        <li><a href="{{ url_for('about') }}">Quienes Somos</a></li>
        <li><a href="{{ url_for('resources') }}"> Recursos </a></li>
        <li class="last"><a href="{{ url_for('events') }}"> Eventos </a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
   <div id="container" class="clear">


        {% block content %}{% endblock %}

    </div>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <div class="one_third">
      <strong>Centro de Escritura</strong>

            <address>
              Edmundo Flores N 1234<br>
              Campus Saucache <br>
              Codigo Postal 100000
            </address>
    </div>
    <div class="one_third">
      <strong>Contacto</strong><br>
      telefono &middot; 202112 <br> email &middot; <a href="mailto:#">centrodeescritura@uta.cl</a>
    </div>
    <div class="one_third">
      &copy;Copyright 2013<br>
      Todos los derechos reservados <br>Diseñado y desarrollado por<br>Olivares y Asociados
    </div>
    </footer>
</div>
</body>
</html>