{% extends "layout.html" %}
{% block content %}

<!-- START THE FEATURETTES -->
<div class="container marketing">
	<div class="about-container">
		
		<h2 class="featurette-heading">¿Quienes Somos?</h2>
        <p>
        <p class="lead">El recientemente formado Centro de Escritura, en el marco del Convenio de Desempeño FIAC2 2011, "Diseño e Implementación de un Centro de Asesoría Integral a la Escritura que Fortalezca Competencias Lingüísticas en los Estudiantes de la Universidad de Tarapacá".</p>
        <hr class="featurette-divider">
    </div>
		
		<h2 class="featurette-heading">Equipo de Trabajo</h2>
      	<div class="row-fluid marketing">

        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
      <hr class="featurette-divider">
      
     <div class="featurette">
        <div class="featurette-image pull-right"> <iframe width="560" height="315" src="http://www.youtube.com/embed/Pr3tVmulJgc" frameborder="0" allowfullscreen></iframe> </div>
        <h2 class="featurette-heading">Universidad de Tarapaca. <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
     </div>
     

      <!-- /END THE FEATURETTES -->
{% endblock %}